body
{
	/*background: red;*/
	margin : 0;
}
a
{
	text-decoration: none;
	color: white;
}
nav
{
	background: gray;
}

nav ul
{
	text-align: center;
	padding: 0;
	margin: 0;
}

nav ul li
{
	display: inline-block;
	
	/*background: red;*/
	/*margin: 5px 1px 3px 4px;*/
	/*border:1px solid black;*/
	margin: 5px;
	padding: 5px;
}
/*Selectores de estado*/
nav ul li :hover
{
	background: black;
}

/*Selector de clase*/
.ImgPerfil
{
	background: url(../img/Paisaje.jpg);
	background-size: cover; 
	margin: 0;
	text-align: center;
	padding: 30px;

}
.ImgPerfil img
{
	display: block;
	border-radius: 100%;
	width: 200px;
	margin: 0 auto;
	border: 4px solid red;
}

.ImgPerfil figcaption
{
	display: inline-block;
	background: black ;
	color: white;
	margin-top: 10px;
	padding: 10px;
}

.Profile
{
	text-align: center;
}
.Profile .Profile-title
{
	
	padding:0 0 15px 0;
	color: #00DBFF;
	border-bottom: 2px dashed #00DBFF;
}



.Profile .Profile-link img
{
	text-align: right;
	display: inline-block;
	width: 50px;
	padding: 2px 4px;
	border-radius: 200px;
	margin: 0 2px;
}
.Work
{
	text-align: center;
}

.Work .Work-item
{
	width: 300px;
	display: inline-block;
	margin: 0;
}

.Work .Work-item img
{
	width: 100%;
}