<!DOCTYPE html>
html(lang="en")
	head
		meta(charset = "UTF-8")
		title LUIS FRANCISCO
		link(rel="stylesheet" type="text/css" href="css/estilos.css")
	body
		section
			header
				figure
					img
					figcaption
					figcaption
				article
					ul
						a
							li
								i
								span (844) 208 5016
						a
							li
								i
								span uribe_morelos@hotmail.com
						a
							li
								i
								span Contratar
			artice
				ul
					a
						li
							i
		section
			article
				div
					h2 Desarrollo Web
					p Curso Desarolo web en jade
			article
				div
					h2 Desarrollo de apps
					p Curso Desarolo web en apps
