<!DOCTYPE html>
html(lang="en")
	head
		meta(charset = "UTF-8")
		title LUIS FRANCISCO
		link(rel="stylesheet" type="text/css" href="css/estilos.css")
	body
		section.Perfil
			header.Perfil-header
				figure.Perfil-header-figure
					img
					figcaption
					figcaption
				article.Perfil-contacto
					ul
						a
							li.Perfil-contacto-tel
								i
								span (844) 208 5016
						a
							li.Perfil-contacto.email
								i
								span uribe_morelos@hotmail.com
						a
							li.Perfil-contacto-contratar
								i
								span Contratar
			artice.Perfil-RedesSociales
				ul
					a
						li.Perfil-RedesSociales-twt
							i
					a
						li.Perfil-RedesSociales-fb
							i
					a
						li.Perfil-RedesSociales-git
							i
		section.Contenido
			article.Contenido-Skill
				div.Contenido-Skill-info
					h2.Contenido-Skill-info-titulo Desarrollo Web
					p.Contenido-Skill-info-desc Curso Desarollo web en jade
			article.Contenido-Skill
				div.Contenido-Skill-info
					h2.Contenido-Skill-info-titulo Desarrollo Web
					p.Contenido-Skill-info-desc Curso Desarollo web en jade


